/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Ruhl";
  src: url("/fonts/FrankRuhlLibre-Regular.ttf");
}
@font-face {
  font-family: "Ruhl Medium";
  src: url("/fonts/FrankRuhlLibre-Medium.ttf");
}
@font-face {
  font-family: "Vibes";
  src: url("/fonts/GreatVibes-Regular.ttf");
}

html {
  font-size: 62.5%;
  --header1: calc(2rem + 1vw);
  --header2: calc(3.5rem + 1vw);
  --header3: calc(3rem + 1vw);
  --header4: calc(2.4rem + 1vw);
  --text: calc(1rem + 1vw);
  --big: calc(6rem + 1vw);
  --special-color: #906272;
  --background-color: #414141;
  --gray-text: #525252;
  scroll-behavior: smooth;
}

h1 {
  font-size: var(--header1);
}
li,
button,
label,
input,
a,
p {
  font-size: var(--text);
}
h2 {
  font-size: var(--header2);
}
h3 {
  font-size: var(--header3);
}
h4,
h5 {
  font-size: var(--header4);
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
  font-family: 'Lato', sans-serif;
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body {
  font-family: "Ruhl", sans-serif;
  animation: BodyStart 1s ease-in-out forwards;
}
h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  
}
p{ color: var(--gray-text);font-family: sans-serif;}
  /* Start Styling */

  /* Header and navbar */
#header-main
{
  background-color: white;
  box-shadow: 0px 0px 10px  rgba(0,0,0,0.2);
  min-height: 10vh;
}
.nav-container{
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 90vw;
  margin: auto;
}
.nav-container .nav-items{

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1 1 40rem;
  
}

.nav-container h2{

  flex: 1 1 40rem;
}
  /* end header and navbar */
  /* start hero section */
#hero{

  min-height:90vh;
  text-align: center;
  display:flex;
  align-items: center;
  justify-items: center;
  flex-wrap: wrap;
  overflow: hidden;
}
.hero-images{

  background-color:#DAD7DC;
  flex: 1 1 41rem;
  position: relative;
  z-index: 1;
}
.hero-introduction 
{
  flex: 2 1 40rem;
  font-size: 5rem;
 
}
.hero-introduction h1 ,p ,button{
  padding: 1.5rem;
  margin: 2rem;
  
}
.button-gallery{
  padding: 2rem  8rem;
  background-color: white;
  color: black;
  border: 2px solid black;
  transition: all .5s;
}
.button-gallery:hover{
  background-color: black;
  color: white;
  border: 2px solid #DAD7DC;
}
.elena-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.plant{
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  transform: translateY(10%) rotateZ(-10deg) rotateX(-90deg);
  animation: plant-entrance 2s ease-in-out forwards,
  plant-shake 2s infinite ease-in-out alternate-reverse 2s;
  transform-origin: bottom;
}
.plant1{
  bottom: 0;
  left: -20%;
}
.plant2{
  bottom: 0;
  left: 40%;
}
  /* end hero section */

  /* START ANIMATIONS */

@keyframes BodyStart{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes plant-entrance
{
  from{
    transform: translateY(10%) rotateZ(-10deg) rotateX(-90deg);
  }
  to{
    transform: translateY(0%) rotateZ(0deg) rotateX(0deg);
  }
}
@keyframes plant-shake{
  from
  {
    transform: rotate(-5deg);
  }
  to
  {
    transform: rotate(0deg);
  }
}




/* END ANIMATIONS */

/* start about section */

#about
{
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}
.about-images{
  flex: 1 1 40rem;
  position: relative;
}
.about-text{
  flex: 2 1 40rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #414141;
  color: white;
  padding: 1.5rem;
}
.about-images img{
  width: 100%;
  height: 100%;
}
.about-images h2{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%,-20%);
  font-weight: 400;
  letter-spacing: 1.5rem;
 
}
.about-text>:first-child{
  font-family:'vibes' ;
  padding: 3rem;
  text-align: center;
  font-size: 5rem;
}
.text{
  margin:0 5rem;
}
.about-text p{
  color: white;
  font-size:2.5rem ;
}
/* end about section */
/* start Images gallery */


.img-container{
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2,1fr);
  grid-template-areas: "A A C"
                       "B D C";
  position: relative;
}
.gallery1{
  grid-area: A;
}
.gallery2{
  grid-area: C;
}
.gallery3{
  grid-area: B;
}
.gallery4{
  grid-area: D;
}
.img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.galelry-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  background: #414141;
  padding: 5rem 8.4rem;
  text-align: center;
}

#Contact{
  min-height: 100vh;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
}
.contact-form{
  flex: 3 1 40rem;
  display: flex;
  flex-direction: column;
  justify-items: start;
  align-items: center;
}
.img-form{
  flex: 1 1 40rem;
}

.contact-form h1{
  font-size: 8rem;
  color: #906272;
  padding: 1.5rem;
}

.main-form{
  display: flex;
  flex-direction: column;
  margin:2rem;
  
}
.main-form label{
  text-align: left;
  font-size: 3.5rem;
  margin-top:2rem;
}
.main-form input:nth-of-type(1){
  background-color: #414141;
  border: none;
  height: 5rem;
  margin-top:2rem;
}
.main-form input:nth-of-type(2){
  background-color: #906272;
  border: none;
  height: 5rem;
  color: white;
  margin-top:2rem;
  
}


/* end Images gallery */
/* start Footer */
footer{
   background-color: #414141;
  color: white;
}
.main-footer{
  min-height: 10vh;
 
  display: flex;
  align-items: center;
  width: 90%;
  margin: auto;
}

.main-footer ul{
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-evenly;
  
}
.main-footer h1{
  flex: 1 1 40rem;
}
/* end Footer */